<h2>Classic Breaks<%=trade%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
<div style='margin-left: 20px;'>
	<br />
	<div class='special_box product_box'>
	    <p class='profit'>Cookie Dough Profit:</p>
		<p class='profit_exception'>(except Macadamia Nut)</p>
		<table>
			<tr><td class='right_jus'>Your Cost:</td><td class='left_jus'>$6.00</td></tr>
			<tr><td class='right_jus'>Sell Price:</td><td class='left_jus'>$10.00</td></tr>
			<tr><td class='right_jus'>Your Profit:</td><td class='left_jus'>$4.00 (40%)</td></tr>
		</table>
	    <p class='profit'>Cookie Dough Profit:</p>
		<p class='profit_exception'>(Macadamia Nut)</p>
		<table>
			<tr><td class='right_jus'>Your Cost:</td><td class='left_jus'>$6.50</td></tr>
			<tr><td class='right_jus'>Sell Price:</td><td class='left_jus'>$11.00</td></tr>
			<tr><td class='right_jus'>Your Profit:</td><td class='left_jus'>$4.50 (41%)</td></tr>
		</table>
	</div>

    <p class='highlight'>
        What is Classic Breaks<%=trade%> Cookie Dough?
    </p>
    <p style='text-align: justify;'>
		Sometimes only a warm, soft cookie will do! Classic Breaks<%=trade%> cookie dough are
		packages of high quality “Break and Bake” frozen cookie dough available in easy
		to store packaging.  Easy to prepare, great taste and well known to your
		customers...you can’t go wrong with Cookie Dough!
    </p>
    <p>
		One package of Classic Breaks<%=trade%> cookie dough weights 32.0 ounces.  Inside each
		package, there are 32 individual cookies.
    </p>
	<img src='/images/cookies.jpg' width='250' class='product_image' />
	<h3 style='text-decoration: none;'>Classic Breaks<%=trade%> cookie dough are available in six mouth-watering flavors:</h3>
	<ul class='list'>
			<li>Chocolate Chip</li>
	    <li>Double Chocolate Chip</li>
	    <li>Oatmeal Raisin</li>
	    <li>Sugar</li>
	    <li>White Chunk Macadamia Nut</li>
	</ul>

    <p class='highlight'>
	    Why choose Classic Breaks<%=trade%> cookie dough?
    </p>
	<ul class='list'>
		<li>Very Familiar Product</li>
		<li>Easier For Consumer to Store vs. Tubs</li>
		<li>Lower Sales Price</li>
	</ul>

    <br/>
    <br/>
</div>
