<h2>Pastry Puffins<%=reg%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
<div style='margin-left: 20px;'>
	<br />
	<div class='special_box product_box'>
	    <p style='text-decoration: underline;'>Pastry Puffins<%=reg%> Profit:</p>
		<table>
			<tr><td class='right_jus'>Your Cost:</td><td class='left_jus'>$7.00</td></tr>
			<tr><td class='right_jus'>Sell Price:</td><td class='left_jus'>$12.00</td></tr>
			<tr><td class='right_jus'>Your Profit:</td><td class='left_jus'>$5.00 (42%)</td></tr>
		</table>
	</div>

    <p class='highlight'>
        What are Pastry Puffins<%=reg%>?
    </p>
    <p style='text-align: justify;'>
        Pastry Puffins<%=reg%> are a delicious, classic Puff Pastry, made with European Style
        butter.  Each Pastry Puffin<%=reg%> has hundreds of alternating thin layers of butter and
        pastry to make them a melt-in-your-mouth flaky treat!
    </p>
    <p>
        One package of Pastry Puffins® weighs 27.0 ounces.  Inside each package, there are 12
        individual Puff Pastries.
    </p>
	<img src='/images/puffins.jpg' width='250' class='product_image' />
	<h3 style='text-decoration: none;'>Pastry Puffins<%=reg%> are available in seven delicious flavors:</h3>
	<ul class='list'>
			<li>Mozzarella&nbsp;-&nbsp;<span style='color: #A00; font-weight: bold; font-style: italic;'>New!</span></li>
			<li>Cinnamon</li>
	    <li>Cream Cheese</li>
	    <li>Strawberry Cream</li>
	    <li>Apple</li>
	    <li>Blueberry Cream</li>
	</ul>

    <p class='highlight'>
	    Why choose Pastry Puffins<%=reg%>?
    </p>
	<ul class='list'>
		<li>Highest Quality Ingredients for Unmatched Taste</li>
		<li>Unique Product, Not Found In Stores Or at Other Fundraising Companies</li>
		<li>Chocolate and Cream Cheese Flavors</li>
	</ul>

    <br/>
    <br/>
</div>
