<h2>Whiffle Sticks<%=reg%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
<div style='margin-left: 20px;'>
	<br />
	<div class='special_box product_box'>
	    <p style='text-decoration: underline;'>Whiffle Sticks<%=reg%> Profit:</p>
		<table>
			<tr><td class='right_jus'>Your Cost:</td><td class='left_jus'>$7.25</td></tr>
			<tr><td class='right_jus'>Sell Price:</td><td class='left_jus'>$13.00</td></tr>
			<tr><td class='right_jus'>Your Profit:</td><td class='left_jus'>$5.75 (44%)</td></tr>
		</table>
	</div>

    <p class='highlight'>
        What are Whiffle Sticks<%=reg%>?
    </p>
    <p style='text-align: justify;'>
		Whiffle Sticks<%=reg%> are scrumptious frozen pastry sticks that are composed of airy
		pastry dough with tasty flavors &amp; fillings peeking out between layers.  This
		unique combination of fillings makes each Stick burst with flavor.
    </p>
    <p>
		One package of Whiffle Sticks<%=reg%> weights 24.0 ounces.  Inside each package, there are 16
		individual Sticks.
    </p>
	<img src='/images/whiffles.jpg' width='250' class='product_image' />
	<h3 style='text-decoration: none;'>Whiffle Sticks<%=reg%> are available in six unbelievable flavors:</h3>
	<ul class='list'>
			<li>Apple</li>
	    <li>Blueberry</li>
	    <li>Cinnamon</li>
	    <li>Strawberry</li>
	    <li>Nacho Cheese</li>
	</ul>

    <p class='highlight'>
	    Why choose Whiffle Sticks<%=reg%>?
    </p>
	<ul class='list'>
		<li>Very “Kid-Friendly” Product</li>
		<li>Two Cheese Flavors, Go Great With Salsa!</li>
		<li>Unique Product, Not Sold By Other Fundraising Companies or in Stores</li>
	</ul>

    <br/>
    <br/>
</div>
