<div class="footerLinks">
    <div class="links">
        <%= link_to 'Home', :action => :index %>
        | <%= link_to 'Products', :action => :products %>
        | <%= link_to 'Services', :action => :services %>
        | <%= link_to 'About Us', :action => :about %>
        | <%= link_to 'Fundraisers', :action => :resources %>
    </div>
    <div class="copyright">
        Copyright &copy;2008 Rollin' In The Dough Fundraising
    </div>
</div>
